.LearningCard_div {
  height: 250px;
  max-width: 450px;

  min-width: fit-content;
  overflow: hidden;
}

.LearningCard_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.LearningCard_shadowDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.90);
}

.LearningCard_div,
.LearningCard_shadowDiv {
  border-radius: 0.5rem;
 
  
}

.LearningCard_div:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.95);
}

.LearningCard_img {
  transform-origin: center;
  transition: transform 5s ease-in-out 
}


.LearningCard_div:hover .LearningCard_img {
  transform: scale(1.6);
  
}

